<form method="POST" action="open">
  <label>category</label>
  <input name="category" />
  <label>userid</label>
  <input name="userid" />
  <label>open_date</label>
  <input name="open_date" />
  <label>url</label>
  <input name="url" />
  <label>img_url</label>
  <input name="img_url" />
  <input type="submit" value="hihihi"/>
</form>

new <br>
<form method="POST" action="close">
  <label>appid</label>
  <input name="appid" />
  <label>close_date</label>
  <input name="close_date" />
  <input type="submit" value="hihihi"/>
</form>
category <br>
<form method="POST" action="category">
  <label>appid</label>
  <input name="appid" />
  <label>category</label>
  <input name="category" />
  <input type="submit" value="hihihi"/>
</form>

