{{#extend "stylesheets"}}
{{/extend}}

{{#extend "javascripts"}}
    <script type="text/javascript" src="javascripts/scripts.js"></script>
    <script type="text/javascript" src="javascripts/models/Applications.js"></script>
    <script type="text/javascript" src="javascripts/templates/ApplicationTemplates.js"></script>
    <script type="text/javascript" src="javascripts/views/ApplicationView.js"></script>
    <script type="text/javascript" src="javascripts/views/GridView.js"></script>
    <script type="text/javascript" src="javascripts/grid.js"></script>
{{/extend}}

yoyoyo
