{{#extend "stylesheets"}}
<!-- stylesheets -->
    <link rel="stylesheet" href="lib/jquery-ui/css/jquery-ui-1.8.10.custom.css">
    <link rel="stylesheet" href="/stylesheets/default.css" />
    <link rel="stylesheet" href="stylesheets/slider.css" />
    <link rel="stylesheet" href="/stylesheets/vis.css" />
    <link rel="stylesheet" href="stylesheets/forms.css" />
    <link rel="stylesheet" href="/stylesheets/grid.css">
{{/extend}}

{{#extend "javascripts"}}
    <script type="text/javascript" src="lib/jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="lib/jQRangeSlider-min.js"></script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
    <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.4.0.min.js"></script>

    <!-- home made -->
    <script type="text/javascript" src="javascripts/config.js"></script>
    <script type="text/javascript" src="javascripts/Cluster.js"></script>
    <script type="text/javascript" src="javascripts/clusters.js"></script>
    <script type="text/javascript" src="javascripts/lines.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
    <script type="text/javascript" src="javascripts/scripts.js"></script>
    <script type="text/javascript" src="javascripts/models/Applications.js"></script>
    <script type="text/javascript" src="javascripts/templates/ApplicationTemplates.js"></script>
    <script type="text/javascript" src="javascripts/views/ApplicationView.js"></script>
    <script type="text/javascript" src="javascripts/views/GridView.js"></script>
    <script type="text/javascript" src="javascripts/grid.js"></script>
{{/extend}}

<div id="wrapper">
    <div id="header">
        <a class="title" href="#">{{{title}}}</a>

        <nav class="type-nav">
            <ul>
                <li>
                    <img class="menu-button"
                     id="grid-toggle"
                     src="img/grid.png"/>
                </li>
                <li>
                    <img class="menu-button"
                         id="clusters-toggle"
                         src="img/cluster.png"/>
                </li>
                <li>
                    <img class="menu-button"
                         id="timelines-toggle"
                         src="img/timelines.png"/>
                </li>
            </ul>
        </nav>

        <nav class="utility-nav">
            <ul>
                <li>
                    <input class="user-input-field" id="grid-search" placeholder="search" />
                </li>
                <li>
                    <img class="menu-button"
                         id="add-account-toggle"
                         src="img/add.png"/>
                </li>
                <li>
                    <img class="menu-button"
                         id="logout-button"
                         src="img/logout.png"/>
                </li>
            </ul>
        </nav>
    </div>

    <div id="visualizations">
        <div id="circles" class="vis"></div>

        <div id="lines" class="vis">
            <div id="container" style="position: relative; margin: 0px auto;">
        </div>
             <div id="appname" style="text-align: center; height: 25px; margin: 0px auto;"></div>
            </p>
            <div id="D3line"></div>
            <div id="timeline_panel">
                <div id="timeline"></div>
                <p id="timeline_details">
                    <span id="timeline_dateLeft"> </span>
                    <span id="timeline_dateRight"> </span>
                    <input id="timeline_step_back"
                           class="timeline_controls"
                           type="image"
                           src="img/controls_backward.gif"
                           name="image"
                           width="31"
                           height="20">

                    <input id="timeline_play_pause"
                           class="timeline_controls"
                           type="image"
                           src="img/controls_play.gif"
                           name="image"
                           width="31"
                           height="20">

                    <input id="timeline_step_forward"
                           class="timeline_controls"
                           type="image"
                           src="img/controls_forward.gif"
                           name="image"
                           width="31"
                           height="20">
              </p>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div id="stats">
        <div id="thatapp"></div>
        <div id="username"></div>
        <div id="lastvisit"></div>
        <div id="activity"></div>
    </div>

    <div id="add-app-box">
        <!-- need to change action to route -->
        <form id="newapp-form">
          <input class="user-input-field" id="input-appname" type="text" name="app_name" placeholder="Service Name"/>
          <input class="user-input-field" id="input-appurl" type="text" name="app_url" placeholder="URL"/>
          <input class="form-button" id="newapp-button" type="button" value="Add" />
        </form>
    </div>

    <div id="more-apps-box">
        <a class="close-more-apps">CLOSE</a>
    </div>
</div>
