<!DOCTYPE html>
<html>
<head>
    <title>PROFILES</title>
    <link href="/stylesheets/styles.css" rel="stylesheet">
    <!-- Third party libraries-->
    <script src="/javascripts/lib/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/lib/underscore-min.js"></script>
    <script src="/javascripts/lib/backbone-min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/scripts.js"></script>
</head>

<body>
    <div id="header">
        <a class="title" href="#">{{{title}}}</a>
        <!-- <span class="name">Gianni</span>-->
        <img src="#"><!-- gear --></img>
      <nav class="type-nav">
          <ul>
              <li><a href="#">all</a></li> |
              <li><a href="#">timelines</a></li> |
              <li><a href="#">clusters</a></li>
      </nav>
    </div>


    <!-- <form id="search">-->
    <!--     <input class="search-text" type="text" name="search"/>-->
    <!-- </form>-->

    <!-- canvas goes here -->
    <div class="sample">
        <!-- forgive me, trash this -->
        <br/><br/><br/><br/><br/><br/><br/>
        <span class="sample-text"> CONTENT GOES HERE </span>
    </div>
</body>
</html>
