{{#extend "stylesheets"}}
<!-- stylesheets -->
    <link rel="stylesheet" href="lib/jquery-ui/css/jquery-ui-1.8.10.custom.css">
    <link rel="stylesheet" href="/stylesheets/default.css" />
    <link rel="stylesheet" href="stylesheets/slider.css" />
    <link rel="stylesheet" href="/stylesheets/vis.css" />
    <link rel="stylesheet" href="stylesheets/forms.css" />
    <link rel="stylesheet" href="/stylesheets/grid.css">
    <link rel="stylesheet" href="/stylesheets/durations.css">
{{/extend}}

{{#extend "javascripts"}}
    <script type="text/javascript" src="lib/jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="lib/jQRangeSlider-min.js"></script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
    <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.4.0.min.js"></script>

    <!-- home made -->
    <script type="text/javascript" src="javascripts/config.js"></script>
    <script type="text/javascript" src="javascripts/scripts.js"></script>
    <script type="text/javascript" src="javascripts/models/Applications.js"></script>
    <script type="text/javascript" src="javascripts/templates/ApplicationTemplates.js"></script>
    <script type="text/javascript" src="javascripts/views/ApplicationView.js"></script>
    <script type="text/javascript" src="javascripts/Cluster.js"></script>
    <script type="text/javascript" src="javascripts/clusters.js"></script>
    <script type="text/javascript" src="javascripts/timeline.js"></script>
    <script type="text/javascript" src="javascripts/durations_slider.js"></script>
    <script type="text/javascript" src="javascripts/lines.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
    <script type="text/javascript" src="javascripts/views/GridView.js"></script>
    <script type="text/javascript" src="javascripts/grid.js"></script>
    <script type="text/javascript" src="javascripts/durations.js"></script>
{{/extend}}

<div id="wrapper">
    <div id="header">
        <a class="title" href="#">{{{title}}}</a>

        <nav class="type-nav">
            <ul>
                <li>
                    <img class="menu-button"
                     id="grid-toggle"
                     src="img/ui_icons/grid.png"/>
                </li>
                <li>
                    <img class="menu-button"
                         id="clusters-toggle"
                         src="img/ui_icons/cluster.png"/>
                </li>
                <li>
                    <img class="menu-button"
                         id="timelines-toggle"
                         src="img/ui_icons/timelines.png"/>
                </li>
                <li>
                    <img class="menu-button"
                         id="durations-toggle"
                         src="img/ui_icons/durations.png"/>
                </li>
            </ul>
        </nav>

        <nav class="utility-nav">
            <ul>
                <li id="grid-search-wrapper">
                    <input class="user-input-field" id="grid-search" placeholder="search" />
                </li>
                <li>
                    <img class="menu-button"
                         id="add-account-toggle"
                         src="img/ui_icons/add.png"/>
                </li>
                <li>
                    <img class="menu-button"
                         id="manage-toggle"
                         src="img/ui_icons/settings.png"/>
                </li>
                <li>
                    <img class="menu-button"
                         id="logout-button"
                         src="img/ui_icons/logout.png"/>
                </li>
            </ul>
        </nav>
    </div>

    <div id="visualizations">
        <!-- CIRCLES -->
        <div id="circles" class="vis">
        </div>

        <!-- LINES -->
        <div id="lines" class="vis">
                 <img class="menu-button"
                    id="container-toggle"
                    src="img/ui_icons/up.png"
                    style="position: absolute; top: -25px; display: block; left: 49%; margin: auto;"/>
            <div id="container">
            </div>
            <div id="appname">
            </div>

            <div id="D3line">
            </div>
            <div id="timeline_panel">
                <div id="timeline"></div>
                <div id="timeline_details">
                    <span id="timeline_dateLeft"> </span>
                    <div class="timeline_controls">
                        <input id="timeline_step_back"
                               type="image"
                               src="img/controls/controls_backward.gif"
                               name="image"
                               width="31"
                               height="20" />

                        <input id="timeline_play_pause"
                               type="image"
                               src="img/controls/controls_play.gif"
                               name="image"
                               width="31"
                               height="20" />

                        <input id="timeline_step_forward"
                               type="image"
                               src="img/controls/controls_forward.gif"
                               name="image"
                               width="31"
                               height="20" />
                    </div>
                    <div class="timeline_view_controls">
                        <input id="timeline_month_view"
                               type="image"
                               src="img/controls/controls_month.gif"
                               name="image"
                               width="31"
                               height="20" />

                        <input id="timeline_week_view"
                               type="image"
                               src="img/controls/controls_week.gif"
                               name="image"
                               width="31"
                               height="20" />

                        <input id="timeline_day_view"
                               type="image"
                               src="img/controls/controls_day.gif"
                               name="image"
                               width="31"
                               height="20" />
                        </div>
                    <span id="timeline_dateRight"> </span>
                </div> <!-- end #timeline_details -->
            </div>
        </div>

        <div id="durations" class="vis">
            <div id="durations-wrapper">
                <img id="durations-compress" class="durations-expanded" src="img/ui_icons/up.png"/>
                <div class="durations-clear"></div>
                <div id="durations-sidebar"></div>
                <canvas id="durations-canvas"></canvas>
                <div class="durations-clear"></div>
                <!--
                <div id="durations-panel">
                    <div id="durations-slider"></div>
                        <div id="durations-details">
                            <span id="durations-dateLeft"> </span>
                            <span id="durations-dateRight"> </span>
                        </div>
                    </div>
                </div>
                -->
            </div><!-- end #durations-wrapper -->
            <div id="durations-panel">
                <div id="durations-slider"></div>
                    <div id="durations-details">
                        <span id="durations-dateLeft"> </span>
                        <span id="durations-dateRight"> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="stats">
        <div id="thatapp"></div>
        <div id="username"></div>
        <div id="lastvisit"></div>
        <div id="lasttime"></div>
        <div id="activity"></div>
    </div>

    <div id="add-app-box">
        <!-- need to change action to route -->
        <form id="newapp-form">
          <input class="user-input-field" id="input-appname" type="text" name="app_name" placeholder="Service Name"/>
          <input class="user-input-field" id="input-appurl" type="text" name="app_url" placeholder="URL"/>
          <input class="user-input-field" id="input-appusername" type="text" name="app_username" placeholder="Your Username"/>
          <input class="form-button" id="newapp-button" type="button" value="Add" />
        </form>
    </div>

    <div id="more-apps-box">
        <a class="close-more-apps">CLOSE</a>
    </div>
</div>
