<!DOCTYPE html>
<html>
<head>
    <title>Profiles</title>
    <!-- stylesheets -->
    {{{block "stylesheets"}}}
    <!-- js libs -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
    <script type="text/javascript" src="http://backbonejs.org/backbone-min.js"></script>

    {{{block "javascripts"}}}

</head>


<body>
  {{{body}}}
</body>

</html>
