{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/default.css" />
    <link rel="stylesheet" href="/stylesheets/forms.css">
{{/extend}}

{{#extend "javascripts"}}
{{/extend}}


<div id="wrapper">
    <div id="header">
        <a class="title" href="#">{{{title}}}</a>
    </div>

    <div id="form-wrapper">
        <form method="POST">
            <div class="alert"> {{{msg}}} </div>
            <input class="user-input-field" id="input-username"
                   type="text" name="email"
                   placeholder="Username"
                {{#if msg}}
                    class="error"
                {{/if}}
            />
            <input class="user-input-field" id="input-password"
                   type="password" name="password"
                   placeholder="Password"
                {{#if msg}}
                    class="error"
                {{/if}}
            />
            <input class="form-button" type="submit" value="Login"/>
            <span class="info-message"> Don't have an account? <a href="/register">Register</a>! </span>
        </form>
    </div>
</div>
