{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/forms.css">
{{/extend}}

{{#extend "javascripts"}}
{{/extend}}


<div id="wrapper"> 
  <div id="form-wrapper">
    <form method="POST">
      <div class="alert"> {{{msg}}} </div>
      <!-- <h4> Login </h4>-->
      <label for="input-username">Username</label>
      <input id="input-username" type="text" name="email" {{#if msg}} class="error" {{/if}} />
      <label for="input-password">Password</label>
      <input id="input-password" type="password" name="password" {{#if msg}} class="error" {{/if}} />
      <input type="submit" value="Login"/>
    </form>
  </div>
</div>
