{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/default.css" />
    <link rel="stylesheet" href="/stylesheets/forms.css">
{{/extend}}

{{#extend "javascripts"}}
    <script type="text/javascript" src="javascripts/manage.js"></script>
{{/extend}}


<div id="wrapper">
    <div id="header">
        <a class="title" href="#">{{{title}}}</a>
        <p>{{{whitelist}}}</p>
    </div>

    <div id="management-form-wrapper">
        <form>
            <input class="user-input-field" id="input-domain"
                   type="text" name="domain" placeholder="App url (e.g. facebook.com)"
                {{#if msg}}
                    class="error"
                {{/if}}
            />
            <input class="form-button" id="allow-button" type="button" value="Allow"/>
        </form>
        <ul id="whitelist">
        </ul>
    </div>
    <div id="app-management-wrapper">
        <ul id="app-list"> <div class="alert">Changes saved.</div>
            <h2>Your Apps</h2>
            <!--
            <li>
                <div class="app-name">Name</div>
                <div>
                    <select>
                        <option>Social</option>
                        <option>Professional</option>
                        <option selected>Music</option>
                        <option>Image Sharing</option>
                        <option>Entertainment</option>
                    </select>
                </div>
                <div class="management-delete">
                    <input type="image"
                           src="img/ui_icons/delete.png"
                           name="image"
                           width="20"
                           height="20">
                </div>
            </li>
        -->
        </ul>
    </div>

</div>
