{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/default.css" />
    <link rel="stylesheet" href="/stylesheets/forms.css">
{{/extend}}

{{#extend "javascripts"}}
    <script type="text/javascript" src="javascripts/managelist.js"></script>
{{/extend}}


<div id="wrapper">
    <div id="header">
        <a class="title" href="#">{{{title}}}</a>
        <p>{{{whitelist}}}</p>
    </div>

    <div id="form-wrapper">
        <form>
            <label for="input-appname">App url (e.g. facebook.com)</label>
            <input class="user-input-field" id="input-appname"
                   type="text" name="domain"
                {{#if msg}}
                    class="error"
                {{/if}}
            />
            <input class="form-button" id="allow-button" type="button" value="Allow"/>
            <input class="form-button" id="disallow-button" type="button" value="Disallow"/>
        </form>
        <ul id="whitelist">
        </ul>
    </div>
</div>
