/***************
 * GLOBAL VARS *
 ***************/
/*****************
 * GLOBAL MIXINS *
 *****************/
/*
 * RESET
 */
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    text-decoration: underline; }

svg {
  position: relative; }

/*
 * CLASS/ID
 */
#wrapper {
  position: relative;
  height: 100%;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #4d4d4d; }

#header {
  width: 100%;
  height: 64px;
  position: relative;
  background-color: #f7f8f4;
  border-style: solid;
  border-color: #DBDBDB;
  border-width: 0px 0px 1px 0px;
  font-family: Helvetica, Arial, sans-serif;
  z-index: 9001; }
  #header .title {
    display: inline-block;
    margin: 20px auto;
    font-size: 21px;
    font-weight: 400; }
    #header .title:hover {
      cursor: pointer;
      text-decoration: none; }
  #header .name {
    display: inline-block;
    position: absolute;
    bottom: 2px;
    right: 10px;
    font-size: 18px; }

.type-nav {
  position: absolute;
  right: 0;
  top: 0; }
  .type-nav ul {
    list-style: none; }
    .type-nav ul li {
      display: inline-block; }

#search {
  display: block;
  width: 320px;
  margin: 10px auto 0px auto; }
  #search .search-text {
    width: 300px;
    height: 28px;
    padding: 2px 10px 2px 10px;
    color: #888;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: #666666;
    font-size: 18px; }

#stats {
  display: none;
  position: absolute;
  width: 100px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  border-style: solid;
  border-color: black;
  border-width: 1px;
  font-family: Helvetica, sans-serif;
  font-size: 10px; }

#more-apps-box {
  display: none;
  width: 500px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8); }
  #more-apps-box .close-more-apps {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #FFF; }
