@import "definitions";

/*
 * RESET
 */
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
    &:hover {
        text-decoration: underline;
    }
}

// do we still need this css?
svg {
    position: relative;
}

/*
 * CLASS/ID
 */
#wrapper {
    position: relative;
    height: 100%;
    text-align: center;
    font: {
        family: $BODY_STACK;
    }
    color: #4d4d4d;

    background: {
        color: $BACKGROUND;
    }
}

#header {
    width: 100%;
    height: $HEADER_HEIGHT;
    position: relative;
    @include shadow(0px, -3px, 10px, 0px, $HEADER_SHADOW);

    background: {
        color: $HEADER_BACKGROUND;
    }

    .title {
        display: inline-block;
        margin: 20px auto;

        font: {
            size: 21px;
            family: $TITLE_STACK;
        }

        &:hover {
            cursor: pointer;
            text-decoration: none;
        }
    }

    .name {
        display: inline-block;
        position: absolute;
        bottom: 2px;
        right: 10px;

        font: {
            size: 18px;
            family: $BODY_STACK;
        }
    }

    &:hover {
        @include shadow(0px, 0px, 10px, 0px, $HEADER_SHADOW);
    }

    z-index: 9001;
}

nav {
    position: absolute;
    top: 0;

    ul {
        list-style: none;

        li {
            display: inline-block;
            margin: $HEADER_MARGIN_TOP $HEADER_MARGIN_SIDE 0px 0px;
        }
    }

    .menu-button {
        width: 32px;
        height: 32px;
        opacity: 0.3;
        transition: opacity 0.5s ease-in;

        &:hover {
            opacity: 1.0;
            cursor: pointer;
        }
    }
}

.type-nav {
    left: 0;
    li {
            margin: $HEADER_MARGIN_TOP 0px 0px $HEADER_MARGIN_SIDE;
    }
}

.utility-nav {
    right: 0;
    li {
            margin: $HEADER_MARGIN_TOP $HEADER_MARGIN_SIDE 0px 0px;
    }
}

#grid-search {
    width: 150px;
    margin: {
        top: -2px; // compensate for border
        right: 0px;
        bottom: 0px;
    }

    background-color: #ffffff;

    border: {
        style: solid;
        width: 1px;
        color: #CCCCCC;
    }

    font: {
        family: $BODY_STACK;
        size: $BODY_TEXT_SIZE;
    }
}

// hover stats
#stats {
    display: none;
    position: absolute;
    width: 100px;
    padding: 5px;
    background-color: rgba(255,255,255,0.7);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    font-family: Helvetica, sans-serif;
    font-size: 10px;
}

#more-apps-box {
    display: none;
    width: 500px;
    height: 400px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    background: {
        color: $SHADOW;
    }

    .close-more-apps {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        color: #FFF;
    }
}

.info-message {
    color: $LIGHT_GREY;
    margin: {
        top: 100px;
    }
}
