// NOTE: the transitions are repeated in a lot of places, need to combine

/***************
 * DIRECTORIES *
 ***************/
$FONT_DIR: '../fonts/';

/*********
 * FONTS *
 *********/
@font-face {
    font-family: Intro;
    src: url($FONT_DIR + 'Intro.otf');
    font-weight: 100;
}

@font-face {
    font-family: Novecento-Bold;
    src: url($FONT_DIR + 'Novecentowide-Bold.otf');
}

@font-face {
    font-family: Novecento-Normal;
    src: url($FONT_DIR + 'Novecentowide-Normal.otf');
}

@font-face {
    font-family: Nexa-Light;
    src: url($FONT_DIR + 'Nexa-Light.otf');
}

@font-face {
    font-family: Nexa-Bold;
    src: url($FONT_DIR + 'Nexa-Bold.otf');
}

@font-face {
    font-family: Arvo-Regular;
    src: url($FONT_DIR + 'Arvo-Regular.ttf');
}

/***************
 * GLOBAL VARS *
 ***************/
// fonts
$TITLE_STACK: Nexa-Bold, Novecento-Normal, Helvetica, Arial, sans-serif;
$BODY_STACK: Arvo-Regular, Georgia, Times, serif;
$BODY_TEXT_SIZE: 16px;

// colors
$LIGHT_GREY: #666;
$PRIMARY: #549DD1;
$ACCENT: #CF5300;

// header
$HEADER_HEIGHT: 64px;
$HEADER_BACKGROUND: #FFFFFF;
$HEADER_SHADOW: #666666;
$HEADER_MARGIN_TOP: 15px;
$HEADER_MARGIN_SIDE: 20px;

// background
$BACKGROUND: #FFF;

// d3 shapes
$SHAPE_STROKE: #000;
$SHAPE_FILL: #666;

// text
$TEXT_FILL: #FFF;
$SUBTEXT_FILL: #BBB;

// spacing
$BUTTON_PADDING_X: 20px;
$BUTTON_PADDING_Y: 5px;
$INPUT_PADDING_X: 7px;
$INPUT_PADDING_Y: 8px;

// animation
$ANIM_TIME: 0.3s;

$UNSATURATED: 50%;
$SATURATED: 100%;
$SHADOW: rgba(0, 0, 0, 0.8);

// menus
$MENU_BUTTON_OPACITY: 0.3;
$MENU_BUTTON_ANIM_TIME: 0.5s;


// z-indices
$UI_Z: 100;
$VIS_Z: 10;


/*****************
 * GLOBAL MIXINS *
 *****************/
@mixin gradient($from, $to) {
    /* fallback/image non-cover color */
    background-color: $from;

    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient($from, $to);

    /* Safari 4+, Chrome 1+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));

    /* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient($from, $to);

    /* Opera 11.10+ */
    background-image: -o-linear-gradient($from, $to);
}

@mixin shadow($x, $y, $blur, $spread, $color) {
    -moz-box-shadow: $x $y $blur $spread $color;
    -webkit-box-shadow: $x $y $blur $spread $color;
    box-shadow: $x $y $blur $spread $color;

    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

// rounded corners on rectangles
@mixin rounded($radius) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

// text box focus glow
@mixin focus_glow {
    border-color: #2d6987;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

@mixin transition($attribute, $animation, $duration) {
    -webkit-transition: $attribute $animation $duration;
    -moz-transition: $attribute $animation $duration;
    -o-transition: $attribute $animation $duration;
    transition: $attribute $animation $duration;
}

@mixin saturate($percent) {
    filter: saturate($percent);
    -moz-filter: saturate($percent);
    -webkit-filter: saturate($percent);
    -o-filter: saturate($percent);
    -ms-filter: saturate($percent);
}

@mixin saturate_animation($from, $to, $time) {
    @keyframes saturate {
        from {
            filter: saturate($from);
            -ms-filter: saturate($from);
        }

        to {
            filter: saturate($to);
            -ms-filter: saturate($to);
        }
    }

    @-moz-keyframes saturate {
        from {
            -moz-filter: saturate($from);
        }

        to {
            -moz-filter: saturate($to);
        }
    }

    @-webkit-keyframes saturate {
        from {
            -webkit-filter: saturate($from);
        }

        to {
            -webkit-filter: saturate($to);
        }
    }

    @-o-keyframes saturate {
        from {
            -o-filter: saturate($from);
        }

        to {
            -o-filter: saturate($to);
        }
    }

    animation: saturate $time;
}

@mixin placeholder() {
    ::-webkit-input-placeholder {
        color: red;
    }

    :-moz-placeholder {
        color: red;
    }

    ::-moz-placeholder {
        color: red;
    }

    :ms-input-placeholder {
        color: red;
    }
}


@mixin center_vert_in_rel($width, $height) {
  width: $width;
  height: $height;

  position: absolute;
  top:0;
  bottom: 0;
  margin: auto;
}



