@import "definitions";

#durations {
    height: 100%;
    position: relative;

    #durations-wrapper {
        display: block;
        width: 960px;
        margin: 0 auto;

        &:after {
            content: " ";
            display: block;
            height: 0;
            clear: both;
        }
    }

    #durations-canvas { // width is set in css because canvas has width attr
        float: left;
        height: auto;
    }

    #durations-sidebar {
        float: left;
        width: 20px;
        height: auto;
        margin: {
            right:10px;
        }

        .durations-icon {
            display: block;
            width: 20px;
            height: 20px;
            margin: {
                top: 0;
                bottom: $DURATION_Y_SPACING;
                left: 0;
                right: 0;
            }
            padding: 0 !important;
        }
    }
}
