@import "definitions";

// input box styles
.user-input-field {
    display: block;
    margin: 0px auto 20px auto;
    width: 60%;

    outline: none;
    color: $LIGHT_GREY;
    padding: $INPUT_PADDING_X $INPUT_PADDING_Y;
    background-color: #ffffff;

    border: {
        style: solid;
        width: 1px;
        color: #CCCCCC;
    }

    font: {
        family: $BODY_STACK;
        size: $BODY_TEXT_SIZE;
    }

    //-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    //-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

    //-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    //-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    //-o-transition: border linear 0.2s, box-shadow linear 0.2s;
    //transition: border linear 0.2s, box-shadow linear 0.2s;

    &:focus {
        @include transition(border, linear, $ANIM_TIME);
        border-color: #2D6987;
        //@include focus_glow;
    }

    &.error {
        border-color: #b94a48;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
        -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
        -o-transition: border linear 0.2s, box-shadow linear 0.2s;
        transition: border linear 0.2s, box-shadow linear 0.2s;
        &:focus {
            @include focus_glow;
        }
    }
}

.form-button {
    display: block;
    margin: 0 auto;
    @include rounded(2px);
    padding: $BUTTON_PADDING_Y $BUTTON_PADDING_X;

    font: {
        family: $BODY_STACK;
        size: $BODY_TEXT_SIZE;
    }

    letter-spacing: 1px;
    border: {
        width: 1px;
        style: solid;
        color: #000;
    }

    &:hover {
        @include transition(background-color, linear, $ANIM_TIME);
        background-color: #FFFFFF;
        cursor: pointer;
    }
}

#form-wrapper {
    margin: auto;
    width: 100%;

    // center this
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    form {
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 400px;
        height: 150px;

        .alert {
            position: absolute;
            top: -30px;
            left: 0px;
            right: 0px;
            line-height: 30px;
        }
    }
}


#add-app-box {
    display: none;
    position: absolute;
    top: $HEADER_HEIGHT;
    right: 0px;
    width: 250px;
    z-index: 9000;

    border: {
        style: solid;
        color: #000;
        width: 1px;
    }

    background: {
        color: #FFF;
    }

    .user-input-field {
        width: 80%;
        margin: 10px auto 10px auto;
    }

    .form-button {
        margin: {
            top: 10px;
            bottom: 15px;
        }
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.alert {
    animation: fade 3s;
    -webkit-animation: fade 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
}
