@import "definitions";

// input box styles
.user-input-field {
    display: block;
    margin: 0px auto 20px auto;
    width: 60%;

    outline: none;
    color: $LIGHT_GREY;
    padding: $INPUT_PADDING_X $INPUT_PADDING_Y;
    background-color: #FFFFFF;

    border: {
        style: solid;
        width: 1px;
        color: #CCCCCC;
    }

    font: {
        family: $BODY_STACK;
        size: $BODY_TEXT_SIZE;
    }

    &:focus {
        @include transition(border, linear, $ANIM_TIME);
        border-color: #2D6987;
        //@include focus_glow;
    }

    &.error {
        border-color: #b94a48;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
        -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
        -o-transition: border linear 0.2s, box-shadow linear 0.2s;
        transition: border linear 0.2s, box-shadow linear 0.2s;
        &:focus {
            @include focus_glow;
        }
    }
}

.form-button {
    display: block;
    margin: 0 auto;
    @include rounded(2px);
    padding: $BUTTON_PADDING_Y $BUTTON_PADDING_X;

    font: {
        family: $BODY_STACK;
        size: $BODY_TEXT_SIZE;
    }

    letter-spacing: 1px;
    border: {
        width: 1px;
        style: solid;
        color: #000;
    }

    &:hover {
        @include transition(background-color, linear, $ANIM_TIME);
        background-color: #FFFFFF;
        cursor: pointer;
    }
}

#management-form-wrapper {
    margin: 30px auto;
    width: 100%;   

    form {
        margin: auto;
        width: 400px;
        height: 36px;

        .alert {
            position: absolute;
            top: -30px;
            left: 0px;
            right: 0px;
            line-height: 30px;
        }
    }
}

#app-management-wrapper {
    margin: auto;
    width: 100%;

    h2 {
        font-family: $TITLE_STACK;
        text-align: left;
        margin-bottom: 15px;
        font-size: 20px;
    }

    ul {
        margin: auto;
        height: 150px;
        width: 600px;

        li {
            border-top: 1px solid #CCCCCC;
            list-style-type: none;
            padding-top: 10px;
            padding-bottom: 10px;
            position: relative;

            div {
                display: inline;
            }

            .app-name {
                padding-right: 70px;
                position: absolute;
                left: 0;
            }

            .management-delete {
                position: absolute;
                right: 0;
            }
        }
    }

    select {
        background: transparent;
        width: 300px;
        padding: 5px;
        font-family: $BODY_STACK;
        font-size: 16px;
        color: #4D4D4D;
        border: 1px solid #CCCCCC;
        height: 29px;
        -webkit-appearance: none;
    }
}

#add-app-box {
    position: absolute;
    right: 0px;
    width: 250px;
    z-index: 9000;
    @include shadow(0px, -2px, 10px, 0px, $HEADER_SHADOW);

    padding: {
        top: 10px;
    }

    border: {
        style: solid;
        color: #000;
        width: 0px 0px 5px 0px;
    }

    background: {
        color: #FFF;
    }

    .user-input-field {
        width: 80%;
        margin: 10px auto 10px auto;
    }

    .form-button {
        margin: {
            top: 10px;
            bottom: 15px;
        }
    }
}

#input-appname {
    display: inline;    
}

#allow-button {
    display: inline;
    margin: 0;
}

@-webkit-keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.alert {
    animation: fade 3s;
    -webkit-animation: fade 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
}
