html, body {
  width:100%;
  height:100%;
  margin: 0px;
}

#grid {
 width: 100%;
 height: 100%;
}

.row {
  margin: auto;
  font-size: 0;
  text-align: center; // centering the row wrapper
  .row-wrapper{
    display: inline-block;
  }
  .application {
    display: inline-block;
  }
}
