@import 'definitions';

.vis {
    // display: inline-block;
    vertical-align: top;
    float:left;
}

#visualizations {
    position: absolute;
}

.vis-shape {
    //stroke: $SHAPE_STROKE;
    //stroke-width: 1px;
    fill: $SHAPE_FILL;
    fill-opacity: 1;
    //stroke-opacity: 0.2;
}

.vis-label {
    font-family: $BODY_STACK;
    alignment-basline: middle;
    text-anchor: middle;
    fill: $TEXT_FILL;
}

.vis-sublabel {
    font-family: $BODY_STACK;
    text-anchor: middle;
    fill: $SUBTEXT_FILL;

    &:hover {
        cursor: pointer;
    }
}

#circles {
    position: relative;
}

#lines {
    top: 25px;
    position: relative;
    margin: 0 auto;

}

#timeline_panel {
    position: relative;
    margin: auto;
    width: 1000px;
}

#timeline {
    padding-top: 22px;
    padding-bottom: 32px;
}

#timeline_details {
    text-align: right;
    height: 20px;
    font: {
        size: 0.8em;
        variant: small-caps;
    }

    #app_details {
        margin: 0 auto;
        height: 25px;
        font: {
            size: 0.8em;
            variant: small-caps;
        }
    }

    span {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        margin-bottom: -4px;
    }
}

.timeline_controls {
    height: 20px;
    background: {
        repeat: no-repeat;
        position: 0 0;
    }
    &:hover {
        background-position: -31px 0;
    }
}

#timeline_dateLeft {
    color: rgba(165, 21, 21, .6);
    position: absolute;
    left: 0;
}

#timeline_dateRight {
    color: rgba(165, 21, 21, .6);
}
