.vis {
  // display: inline-block;
  vertical-align: top;
  float:left;
}

#visualizations {
  position: absolute;
}

#circles {
  position: relative;
}

#lines {
  top: 100px;
  position: relative;
  margin: 0 auto;

}

#timeline_panel {
    position: relative;
    margin: auto;
    width: 90%;
}

#timeline {
  padding-bottom: 22px;
}

#timeline_details {
    text-align: right;
    height: 20px;
    font: {
        size: 0.8em;
        variant: small-caps;
    }

#app_details {
    margin: 0 auto;
    height: 25px;
    font: {
        size: 0.8em;
        variant: small-caps;
    }
}

    span {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        margin-bottom: -4px;
    }
}

.timeline_controls {
    height: 20px;
    background: {
        repeat: no-repeat;
        position: 0 0;
    }
    &:hover {
        background-position: -31px 0;
    }
}

#timeline_date {
    color: #A51515;
}

#timeline_time {
    color: #A51515;
}
